.span {
  position: absolute;
  top: 0%;
  right: 0%;
  text-align: center;
  border-radius: 50%;
  font-weight: bold;
  background: rgb(250, 250, 3);
  color: black;
  width: 1rem;
}
@media only screen and (min-width: 750px) {
  .span {
    right: 50%;
  }
  .g_2 {
    grid-column: span 2 / span 2;
  }
}
/* star style */
.icon-style {
  display: flex;
  gap: 0.2rem;
  align-items: center;
  justify-content: center;
}
.icon {
  font-size: 1rem;
  color: orange;
}
.g_3 {
  grid-column: span 3 / span 3;
  margin-left: 1.25rem /* 20px */;
  margin-right: 1.25rem;
}
.button_session {
  background: rgb(157, 151, 146);
  background: linear-gradient(
    291deg,
    rgba(157, 151, 146, 0.8634804263502276) 0%,
    rgba(157, 151, 146, 1) 98%,
    rgba(157, 151, 16, 1) 100%
  );
}
